body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 50px;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p.lead {
    margin-bottom: 30px;
}
